{
  "owners": [],
  "nickname": "rustynagisa",
  "username": "rustynagisa",
  "realname": "Nagisa in Rust",
  "server": "",
  "port": 6697,
  "password": "",
  "use_ssl": true,
  "encoding": "UTF-8",
  "channels": [],
  "umodes": "+RB-x",
  "ping_time": 180,
  "ping_timeout": 10,
  "options": {
    "gmaps_geocoding_apikey" : "obtain key from https://developers.google.com/maps/documentation/geocoding/start",
    "forecast_apikey": "obtain key from https://developer.forecast.io/"
  }
}
